body
{
    background: fill;
}
.heading
{
    width: 100%;
    text-align: left;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid white;
}
#start,#status
{
    font-size: 22px;
}
h4
{
    background-color: white;
    line-height: 2;
    margin: 0px;
}
.modal-dialog
{
    width: 90%;
}
.bottom_right_footer
{
    position: fixed;
    bottom: 0;
    color: black;
    width: 100%;
    background-color: firebrick;
    line-height: 3;
    text-align: center;
}
.modal-body
{
    background-color: white;
}